
.keepList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.keep{
    position: relative;
    overflow: hidden;
}
.keep{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    height: auto;
    border-radius: 0 20px 0 0;
    transform: rotate(-1deg);
}
